#devise-form {
  padding: 10px;
}

.form-container {
  width: 50%;
  //margin: auto;
  background-color: $background;
  color: white;
  padding: 30px;
  text-align: center;
  text-align: center;

  h2 {
    font-family: 'Ubuntu';
    font-size: 60px;
  }
}

.field {
  color: white;
  display: inline-block;
  margin: 10px;
  //vertical-align: top;
}

.field-container {
  margin: auto;
  display: inline-block;

  p {
    margin: 0;
  }
}
