.info-tile {
  text-align: center;
  border: 1px;
  margin-left: none;
}

.exhibit-image {
  height: 600px;
  width: 600px;
  margin-left: 25%;
  border-radius: 10px;
}

.selection-fields {
  text-align: center;
}

.backdrop {
  background-color: black;
  //opacity: 0.4;
}

.tile-info {
  //background-color: white;
}
