#utility-nav {
  color: white;
  padding: 0px 30px;
  background: $background;
  margin-bottom: 10px;
  font-style: italic;
  height: 200px;
}

#user-buttons {
  display: inline-block;
  float: right;
}

.util-button {
  text-decoration: none;
  background-color: #111;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 10px;

  &:hover {
    background: $highlight;
    color: $background;
  }
}

.profile-photo {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 50%;
}
